.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  height: 100vh;
  background-color: black;
}

.link {
  text-decoration: none;
  font-size: 48px;
  color: white;
  border: solid 1px white;
}
